 .nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px;
 }
 .nav-list{
    flex-direction: row;
    gap: 1rem;
 }
 .header{
    display: flex;
    height: 300px;
    text-align: center;
    background-color: aquamarine;
 }
 .card-list{
    display: flex;
    flex-direction: row;
 }
 h1{
    color: rgb(105, 65, 121);
 }