 
 .nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    outline: auto;
    outline-color: #000;
    color: black;

 }
 .nav-list{
    flex-direction: row;
    gap: 1rem;
 }
 .header{
    display: flex;
    height: 300px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    justify-content: center;
    flex-direction: column;

 }
 .card{

    display: flex;
    gap: 2rem;
    height: 8rem;
    max-width: 12rem;
    background-color: lightgray;
    margin: 1rem;
    outline: auto;
    outline-color: gray;
    padding: ;
    align-items: center;
 }

h1{
    color: #000;
    font-style:normal;
}
h2{
    text-align: center;
}
.footer{
    text-align: center;
    background-color: rgb(61, 61, 106);
    color: white;
    
}

li{
    list-style: none;
    
}
a {
    list-style: none;
}

.svg{
    background-color: gray;
    outline: auto;
    
}