 
 .nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    border: 2px;
    flex-direction: row;
    border-color: black;
    background-color: aquamarine;
    padding: 3px;
 }
 .nav-list{
    flex-direction: row;
    gap: 1rem;
 }
 .header{
    display: flex;
    height: 300px;
    width: 250px;
    text-align: center;
    background-color: pink;
    width: 100rem;
    justify-content: center;
 }
 .card-list{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
 }
 
